<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elder.DataForge.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataForge.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Elder.DataForge.Settings>
            <setting name="BaseOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RootNamespace" serializeAs="String">
                <value />
            </setting>
        </Elder.DataForge.Settings>
        <DataForge.Settings>
            <setting name="BaseOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RootNamespace" serializeAs="String">
                <value />
            </setting>
        </DataForge.Settings>
    </userSettings>
</configuration>